.title-top {
    font-size:8vw;
}
#konsultibld {
    position: absolute;
    clip: rect(0, 100px, 200px, 0);
}
.comppic {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.comptext {
    padding-top: 1em;
    padding-bottom: 3em;
    text-align: justify;
}
wbr:after { content: "\00200B" }
.processT {
    z-index: 1000;
    position: absolute;
    left: 75%;
    top:5%;
}
.processpic {
    position: relative;
}
.just-text {
    text-align: justify;
}
